body{
            background-image:linear-gradient(to right,rgb(119, 241, 225),rgb(206, 241, 234));
        }
        .title{
            background-color: rgb(14, 164, 233);
            color: navy;
            text-align: center;
            border-radius: 15px;
            padding:4px;
        }
        .sub_title{
            background-color: rgb(52, 238, 145);
            color: darkblue;
            border-radius: 10px;
            font-size: 20px;
            padding:5px;
        }
        .sub_title marquee{
            text-align: center;
        }
        code{
            text-align: center;
        }
        .link{
            text-align: center;
            color: rgb(0, 0, 0);
        }
        .link a{
            color: green;
        }
        .content code .doc{
            color: black;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .content code{
            color: rgb(25, 64, 238);
            font-size: large;
        }
        hr{
            color:red;
            width: 100%;
        }
